/* General Styles */

body {
  font-family: "Cormorant Garamond", serif;
  background-color: #22223b;
  color: #f2e9e4;
  font-size: 28px;
}

h1 {
  font-size: 3rem;
}

a {
  color: #f2e9e4;
  margin-bottom: 5rem;
  text-decoration: none;
}

/* Header Styling */

.timer {
  color: #f2e9e4;
}

/* Question Box Styling */

.question-area {
  background-color: #4a4e69;
}

.button,
.btn-answer {
  background-color: #9a8c98;
  transition-duration: 0.4s;
  color: #22223b;
  font-weight: 700;
  font-size: 20px;
  padding: 0 2rem;
  margin: 1rem;
}

.button:hover {
  background-color: #c9ada7;
}
